@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
  font-family: 'Lato', sans-serif;
  /*-------------Colors------------- */
  --ColorDark13: hsl(0, 0%, 13%);
  --ColorDark22: hsl(0, 0%, 22%);
  /*-------------FontSize -- Perfect Fifth (1.500) Base Size 22px------------- */
  --FontD: 375.89px;
  --FontH1: 250.59px;
  --FontH2: 167.06px;
  --FontH3: 111.38px;
  --FontH4: 74.25px;
  --FontH5: 49.50px;
  --FontParagraph: 33px;
  --FontSubtitle: 22px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 22%);
}

body {
  background: #f2f2f2;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  /* background: url(../img/DoraLayout.jpg); */
  /* background: url(../img/SlideLayout.jpg); */
  background-size: cover;
}

#wrapper #logo {
  position: absolute;
  left: 5.5%;
  top: 9.8%;
  font-size: var(--FontH5);
  font-weight: 900;
  background: url(../img/x1.jpg) no-repeat top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 95%;
  transition: all 0.31s ease;
  transform-origin: left;
}

#wrapper #logo:hover {
  transform: scale(1.13);
  background: url(../img/x1.jpg) no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

#wrapper nav {
  position: absolute;
  right: 5.5%;
  top: 9.8%;
  width: 23.6%;
  display: flex;
  justify-content: space-between;
}

#wrapper nav a {
  text-decoration: none;
  font-size: var(--FontSubtitle);
  font-weight: 400;
  color: var(--ColorDark22);
  transition: transform 0.31s ease, color 0.31s ease;
  transform-origin: center;
}

#wrapper nav a:hover {
  transform: scale(1.13);
  color: var(--ColorDark13);
}

#wrapper section {
  position: absolute;
  height: 100vh;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: right;
  right: 50%;
}

#wrapper section h1 {
  font-size: var(--FontH3);
  font-weight: 700;
  color: var(--ColorDark22);
  transition: transform 0.31s ease, color 0.31s ease;
  transform-origin: right bottom;
}

#wrapper section h1:hover {
  transform: scale(1.13);
  color: var(--ColorDark13);
}

#wrapper section p {
  font-size: var(--FontParagraph);
  font-weight: 400;
  color: var(--ColorDark22);
  transition: transform 0.31s ease, color 0.31s ease;
  transform-origin: right center;
}

#wrapper section p:hover {
  transform: scale(1.13);
  color: var(--ColorDark13);
}

#wrapper section p:nth-child(3) {
  transform-origin: right top;
}

#wrapper #d {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#wrapper #d p {
  font-size: var(--FontD);
  font-weight: 900;
  background: url(../img/x1.jpg) no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  transition: all 0.31s ease;
  transform-origin: left;
}

#wrapper #d p:hover {
  transform: scale(1.13);
  background: url(../img/x1.jpg) no-repeat top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 130%;
}

#wrapper #ScrollDown {
  position: fixed;
  right: 2.8%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

#wrapper #ScrollDown p {
  font-size: var(--FontSubtitle);
  font-weight: 400;
  color: var(--ColorDark22);
  transform: rotate(-90deg);
  transform-origin: center;
  background: #f2f2f2;
  white-space: pre;
}

#wrapper #ScrollDown #ProgressBar {
  position: absolute;
  right: 3.9vw;
  height: 100vh;
  width: 0.3vw;
  border-radius: 1vw;
  background: var(--ColorDark22);
}

#wrapper #codeby {
  position: absolute;
  left: 5.5%;
  bottom: 9.8%;
}

#wrapper #codeby a {
  text-decoration: none;
  font-size: var(--FontSubtitle);
  font-weight: 400;
  color: var(--ColorDark22);
}

#wrapper #codeby a span {
  font-weight: 700;
  display: inline-block;
  transition: transform 0.31s ease, color 0.31s ease;
  transform-origin: left center;
}

#wrapper #codeby a:hover span {
  transform: scale(1.13);
  color: var(--ColorDark13);
}

#wrapper #slide {
  position: absolute;
  right: 50%;
  height: 100vh;
  width: 40.2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column;
}

#wrapper #slide h1 {
  font-size: var(--FontH5);
  font-weight: 700;
  color: var(--ColorDark22);
  padding-right: var(--FontParagraph);
}

#wrapper #slide p {
  width: 94.5%;
  padding-right: var(--FontParagraph);
  padding-top: var(--FontSubtitle);
  font-weight: 400;
  font-size: var(--FontSubtitle);
  color: var(--ColorDark22);
  text-align: right;
}

#wrapper #ImageContainer {
  position: absolute;
  height: 100vh;
  width: 40.2%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  left: 50%;
}

#wrapper #ImageContainer img {
  width: 58.8%;
  margin-left: 13.9%;
}

/*-------------@media (max-width: 1920px)------------- */

@media (max-width: 1920px) {
  :root {
    --FontD: 24.472vw;
    --FontH1: 16.314vw;
    --FontH2: 10.876vw;
    --FontH3: 7.251vw;
    --FontH4: 4.834vw;
    --FontH5: 3.223vw;
    --FontParagraph: 2.148vw;
    --FontSubtitle: 1.432vw;
  }
}