::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

#LDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38.2vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    color: white;
    background: transparent;
    transition: 0.4s ease-in-out;
}

#LDiv:hover {
    background: white;
    color: #333;
}

#Logo {
    position: fixed;
    top: 3.1vh;
    left: 3.1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#LDiv h1 {
    font-size: 3.1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#CodeBy {
    position: fixed;
    bottom: 3.1vh;
    right: 3.1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#CodeBy span {
    font-weight: 700;
    color: white;
}

#Wrap {
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

section #PWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    right: 14.6vw;
    width: 32.7vw;
    height: 23.5vh;
    z-index: 2;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    box-shadow: 0 0 7vw rgba(0, 0, 0, 0.5);
    border-radius: 2.2vw;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    transition: 0.4s 0.22s ease-in-out;
}

section #PWrap:hover {
    width: 47.3vw;
    height: 52.7vh;
}

section #PWrap p {
    position: absolute;
    top: 25%;
    padding: 2.2vw;
    font-size: 2.2vw;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.31s ease-in-out;
}

section #PWrap:hover p {
    position: absolute;
    top: 1vw;
}

#ArticleWrap {
    position: absolute;
    bottom: -100vh;
    width: 38.2vw;
    height: 30vh;
    border-radius: 1.3vw;
    box-shadow: 0 0.7vh 2.2vw rgba(0, 0, 0, 0.5);
    background: none;
    transition: 0.7s ease-in-out;
}

section #PWrap:hover #ArticleWrap {
    background: white;
    bottom: 2.2vw;
}

#ArticleWrap article {
    padding: 2.2vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

.PageA {
    background: transparent;
    background-size: cover;
    background-position: center;
}

.PageB {
    background: transparent;
    background-size: cover;
    background-position: center;
}

.PageC {
    background: transparent;
    background-size: cover;
    background-position: center;
}