@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
:root {
    font-family: 'Open Sans', Arial;
    /*-------------Colors -- Black to White (HSL) lightness 0% 20% 25% 50% 75% 80% 100%------------- */
    --ColorDark1: hsl(0, 0%, 0%);
    --ColorDark2: hsl(0, 0%, 20%);
    --ColorDark3: hsl(0, 0%, 25%);
    --ColorMid: hsl(0, 0%, 50%);
    --ColorLight3: hsl(0, 0%, 75%);
    --ColorLight2: hsl(0, 0%, 80%);
    --ColorLight1: hsl(0, 0%, 100%);
    /*-------------WhiteColors------------- */
    /* --ColorDark1: hsl(0, 0%, 05%); */
    /* --ColorDark2: hsl(0, 0%, 07%); */
    /* --ColorDark3: hsl(0, 0%, 12%); */
    /* --ColorLight3: hsl(0, 0%, 89%); */
    /* --ColorLight2: hsl(0, 0%, 92%); */
    /* --ColorLight1: hsl(0, 0%, 95%); */
    /*-------------FontWeights------------- */
    --Light: 300;
    --Regular: 400;
    --SemiBold: 600;
    --Bold: 700;
    --ExtraBold: 800;
    /*-------------FontSize -- Golden Ratio (1.618) Base Size 16px------------- */
    --FontH1: 287.11px;
    --FontH2: 177.45px;
    --FontH3: 109.67px;
    --FontH4: 62.78px;
    --FontH5: 41.89px;
    --FontParagraph: 25.89px;
    --FontSubtitle: 16px;
    --IconSize: calc(var(--FontSubtitle) * 2);
    --FontBG: 574.22px;
    --GoldenNumber: 1.618px;
    /*-------------GoldenRatio W (1.618) (Viewport Width 1920px)------------- */
    --GoldenRatioW1: 1920px;
    --GoldenRatioW2: 1186.65px;
    --GoldenRatioW3: 733.40px;
    --GoldenRatioW4: 453.27px;
    --GoldenRatioW5: 280.14px;
    --GoldenRatioW6: 173.14px;
    --GoldenRatioW7: 107.00px;
    --GoldenRatioW8: 66.13px;
    --GoldenRatioW9: 40.87px;
    --GoldenRatioW10: 25.25px;
    --GoldenRatioW11: 15.60px;
    --GoldenRatioW12: 9.64px;
    --GoldenRatioW13: 5.95px;
    /*-------------GoldenRatio H (1.618) (Viewport Hight 1080px)------------- */
    --GoldenRatioH1: 1080px;
    --GoldenRatioH2: 667.49px;
    --GoldenRatioH3: 412.54px;
    --GoldenRatioH4: 254.96px;
    --GoldenRatioH5: 157.57px;
    --GoldenRatioH6: 97.38px;
    --GoldenRatioH7: 60.18px;
    --GoldenRatioH8: 37.19px;
    --GoldenRatioH9: 22.98px;
    --GoldenRatioH10: 14.2px;
    --GoldenRatioH11: 8.77px;
    --GoldenRatioH12: 5.42px;
    --GoldenRatioH13: 3.34px;
    /*-------------GoldenCannon W (Viewport Width 1920px)------------- */
    --GoldenCannonW1: 1920px;
    --GoldenCannonW2: 960px;
    --GoldenCannonW3: calc(var(--GoldenCannonW4) + var(--GoldenCannonW5));
    --GoldenCannonW4: 480px;
    --GoldenCannonW5: 240px;
    --GoldenCannonW6: 96px;
    /*-------------GoldenCannon H (Viewport Hight 1080px)------------- */
    --GoldenCannonH1: 1080px;
    --GoldenCannonH2: 540px;
    --GoldenCannonH3: 360px;
    --GoldenCannonH4: 216px;
    --GoldenCannonH5: 136.71px;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: var(--ColorDark2);
    background: var(--ColorLight2);
}

* {
    margin: 0;
    padding: 0;
    color: var(--ColorLight1);
    line-height: 1.3;
    box-sizing: border-box;
    scrollbar-width: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--ColorDark2);
}

#wrapX {
    position: relative;
    background: url(../img/HiThere.jpg) var(--ColorDark2) no-repeat center;
    background-size: 100vw;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

/*-------------MyWorksX------------- */

#MyWorksX {
    position: relative;
    width: var(--GoldenCannonW1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: var(--GoldenCannonH1);
}

#MyWorksX #MyWorksXTitle {
    display: flex;
    flex-shrink: 0;
    margin-top: var(--GoldenRatioH7);
    align-items: center;
    width: calc(var(--GoldenRatioW1) - var(--GoldenCannonW6)*2);
    height: var(--GoldenCannonH5);
    overflow: hidden;
    border-top: calc(var(--GoldenNumber) /1.618) solid var(--ColorLight1);
    border-bottom: calc(var(--GoldenNumber) /1.618) solid var(--ColorLight1);
}

#MyWorksX #MyWorksXTitle h1 {
    font-size: var(--FontH4);
    font-weight: var(--Regular);
    color: var(--ColorLight1);
}

#MyWorksX #ProjectSlide {
    display: flex;
    flex-shrink: 0;
    flex-flow: column;
    height: auto;
    width: calc(var(--GoldenRatioW1) - var(--GoldenCannonW6)*2);
    border-bottom: calc(var(--GoldenNumber) /1.618) solid var(--ColorLight1);
}

#MyWorksX #ProjectSlide:nth-child(6) {
    margin-bottom: var(--GoldenRatioH7);
}

#MyWorksX #ProjectSlide #ProjectTitle {
    display: flex;
    flex-shrink: 0;
    flex-flow: column;
    justify-content: center;
    height: var(--GoldenRatioH5);
}

#MyWorksX #ProjectSlide #ProjectTitle h4 {
    display: block;
    overflow: hidden;
}

#MyWorksX #ProjectSlide #ProjectTitle h4 span {
    font-size: var(--FontParagraph);
    font-weight: var(--Light);
    color: var(--ColorLight2);
}

#MyWorksX #ProjectSlide h2 {
    display: block;
    overflow: hidden;
}

#MyWorksX #ProjectSlide #ProjectTitle h2 span {
    font-size: var(--FontH5);
    font-weight: var(--Regular);
    color: var(--ColorLight1);
}

#MyWorksX #ProjectSlide #ProjectImageWrap {
    width: calc(var(--GoldenRatioW1) - var(--GoldenCannonW6) * 2);
    display: flex;
    flex-shrink: 0;
    flex-flow: column;
    overflow: hidden;
    height: 0;
    transition: height 0.7s 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#MyWorksX #ProjectSlide:hover #ProjectImageWrap {
    height: calc((var(--GoldenCannonW1) - var(--GoldenCannonW6) * 2) * 0.5625 + var(--GoldenRatioH7));
    transition: height 1.3s 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#MyWorksX #ProjectSlide #ProjectImageWrap img {
    width: calc(var(--GoldenRatioW1) - var(--GoldenCannonW6) * 2);
    height: calc((var(--GoldenCannonW1) - var(--GoldenCannonW6) * 2) * 0.5625);
    flex-shrink: 0;
    transform: translateY(-50%) scale(1.3);
    transition: transform 0.7s 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#MyWorksX #ProjectSlide:hover #ProjectImageWrap img {
    transform: translateY(0) scale(1);
    transition: transform 1.3s 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#MyWorksX #ProjectSlide #ViewCodeAndPage {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: var(--GoldenRatioH7);
    transform: translateY(220%);
    transition: transform 1.3s 0.13s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#MyWorksX #ProjectSlide:hover #ViewCodeAndPage {
    transform: translateY(0);
}

#MyWorksX #ProjectSlide #ViewCodeAndPage #ViewCode {
    display: block;
    overflow: hidden;
    padding-right: var(--GoldenRatioW9);
}

#MyWorksX #ProjectSlide #ViewCodeAndPage #ViewPage {
    display: block;
    overflow: hidden;
}

#MyWorksX #ProjectSlide #ViewCodeAndPage #ViewCode, #MyWorksX #ProjectSlide #ViewCodeAndPage #ViewPage {
    font-size: var(--FontSubtitle);
    font-weight: var(--Light);
    color: var(--ColorLight2);
}

#MyWorksX #ProjectSlide #ViewCodeAndPage #ViewCode span, #MyWorksX #ProjectSlide #ViewPage span {
    font-weight: var(--SemiBold);
    color: var(--ColorLight1);
}

/*-------------/MyWorksX------------- */

/*-------------@media (max-width: 1920px)------------- */

@media (max-width: 1920px) {
    :root {
        /*-------------FontSize -- Golden Ratio (1.618) Base Size 16px------------- */
        --FontH1: 14.9536vw;
        --FontH2: 9.2421vw;
        --FontH3: 5.7119vw;
        --FontH4: 3.2697vw;
        --FontH5: 2.1817vw;
        --FontParagraph: 1.3484vw;
        --FontSubtitle: 0.8333vw;
        --IconSize: calc(var(--FontSubtitle) * 2);
        --FontBG: 29.9072vw;
        /*-------------GoldenRatio W (1.618) (Viewport Width 1920px)------------- */
        --GoldenRatioW1: 100vw;
        --GoldenRatioW2: 61.8046vw;
        --GoldenRatioW3: 38.1979vw;
        --GoldenRatioW4: 23.6078vw;
        --GoldenRatioW5: 14.5906vw;
        --GoldenRatioW6: 9.0177vw;
        --GoldenRatioW7: 5.5729vw;
        --GoldenRatioW8: 3.4442vw;
        --GoldenRatioW9: 2.1286vw;
        --GoldenRatioW10: 1.3151vw;
        --GoldenRatioW11: 0.8125vw;
        --GoldenRatioW12: 0.5020vw;
        --GoldenRatioW13: 0.3098vw;
        /*-------------GoldenRatio H (1.618) (Viewport Hight 1080px)------------- */
        --GoldenRatioH1: 100vh;
        --GoldenRatioH2: 61.8046vh;
        --GoldenRatioH3: 38.1981vh;
        --GoldenRatioH4: 23.6074vh;
        --GoldenRatioH5: 14.5898vh;
        --GoldenRatioH6: 9.0166vh;
        --GoldenRatioH7: 5.5722vh;
        --GoldenRatioH8: 3.4435vh;
        --GoldenRatioH9: 2.1277vh;
        --GoldenRatioH10: 1.3148vh;
        --GoldenRatioH11: 0.8120vh;
        --GoldenRatioH12: 0.5018vh;
        --GoldenRatioH13: 0.3092vh;
        /*-------------GoldenCannon W (Viewport Width 1920px)------------- */
        --GoldenCannonW1: 100vw;
        --GoldenCannonW2: 50vw;
        --GoldenCannonW3: calc(var(--GoldenCannonW4) + var(--GoldenCannonW5));
        --GoldenCannonW4: 25vw;
        --GoldenCannonW5: 12.5vw;
        --GoldenCannonW6: 5vw;
        /*-------------GoldenCannon H (Viewport Hight 1080px)------------- */
        --GoldenCannonH1: 100vh;
        --GoldenCannonH2: 50vh;
        --GoldenCannonH3: 33.3333vh;
        --GoldenCannonH4: 20vh;
        --GoldenCannonH5: 12.6583vh;
    }
}

/*-------------/@media (max-width: 1920px)------------- */

/*-------------@media (max-width: 400px)------------- */

@media (max-width: 480px) {
    :root {
        /*-------------FontSize -- Golden Ratio (1.618) Base Size 16px------------- */
        --FontH1: 59.8145vw;
        --FontH2: 36.9687vw;
        --FontH3: 22.8479vw;
        --FontH4: 13.0791vw;
        --FontH5: 8.7270vw;
        --FontParagraph: 5.3937vw;
        --FontSubtitle: 3.3333vw;
        --IconSize: calc(var(--FontSubtitle) * 2);
        --FontBG: 29.9072vw;
        /*-------------WhiteColors------------- */
        --ColorDark1: #f2f2f2;
        --ColorDark2: #ebebeb;
        --ColorDark3: #e3e3e3;
        --ColorLight3: #1f1f1f;
        --ColorLight2: #121212;
        --ColorLight1: #0d0d0d;
        /*-------------GoldenRatio H (1.618) (Viewport Hight 829px)------------- */
        --GoldenRatioH1: 172.7083vw;
        --GoldenRatioH2: 106.7416vw;
        --GoldenRatioH3: 65.9708vw;
        --GoldenRatioH4: 40.7729vw;
        --GoldenRatioH5: 25.1979vw;
        --GoldenRatioH6: 15.5729vw;
        --GoldenRatioH7: 9.6229vw;
        --GoldenRatioH8: 5.9479vw;
        --GoldenRatioH9: 3.675vw;
        --GoldenRatioH10: 2.2708vw;
        --GoldenRatioH11: 1.4020vw;
        --GoldenRatioH12: 0.8666vw;
        --GoldenRatioH13: 0.5333vw;
        /*-------------GoldenCannon H (Viewport Hight 829px)------------- */
        --GoldenCannonH1: 172.7083vw;
        --GoldenCannonH2: 88.8895vw;
        --GoldenCannonH3: 59.2583vw;
        --GoldenCannonH4: 35.5562vw;
        --GoldenCannonH5: 22.5041vw;
    }
    /*-------------MenuWrap (max-width: 480px)------------- */
}

/*-------------/@media (max-width: 480px)------------- */